{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock header %}

{% block content %}

<div class="container login">
  <form class="form-signin" method='post'>{% csrf_token %}
    <img class="mb-4" src="{% static 'img/bootstrap-solid.svg' %}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please login　--初めての方は<a href="{% url 'signup' %}" class="btn btn-primary">signup</a>から--</h1>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Username" name="username_data" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password_data" required>
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>

  </form>
</div>

{% endblock content %}